

.video-container{
    margin-left: auto;
    margin-right: auto;
    width: 8em; 
    overflow: scroll;      
}

.videobox{
    padding: 5%;
    margin: 5%;
    background-color: #28A428;
    opacity: 0.81;
    display: flex;
    text-align: justify;
    font-size: 4.3vw;
    resize: both;
}


.videobox:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.91);
transition: 1s ease;
}

.videobox{
    transition: 1s ease;
}

/* CSS Styles */ 

body { 
font-family: Arial, sans-serif; 
background-color: #f2f2f2; 
} 
.video-container { 
width: 80%;  
margin: 50px auto; 
text-align: center; 
} 
.video-title { 
font-size: 32px; 
margin-bottom: 20px; 
} 
    
@media (max-width: 767px) {
    .video-container {
      width: 100%; /* set the width to 100% for screens smaller than 768px */
    }
}